<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles-org-htmlize.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if page.math %}
    {% include mathjax-support.html %}
    {% endif %}
    <title>{{page.title}}</title>
  </head>

  <body>
    <div class="container">
      {% include navbar.html %}
      
      <div class="content-container">
	{{ content }}
      </div>
    </div>
  </body>

  </html>
