@import "vars";

* {
    scrollbar-width: thin;
    scrollbar-color: $color-silver $color-dark-grey;

}

:root {
    font-size: 62.5%; // Set 1rem == 10px
}

body {
    font-family: $font-sans;
    color: $color-body;
    background-color: $color-bg;
    font-size: 2.0rem;
}

p {
    font-weight: 500;
    line-height: 3rem;
}

strong {
    color: $color-strong;
}

h1 {
    color: $color-h1;
    font-family: $font-serif;
    font-size: 4rem;
}

h2 {
    color: $color-h2;
    font-family: $font-serif;
    font-size: 3.5rem;
    margin: 3rem 0;

  strong {
    font-weight: 610;  // standard is too strong.
  }
}

h3 {
    color: $color-h3;
    font-family: $font-sans;
    font-size: 2.5rem;
    margin: 2rem 0;
}

h4 {
    color: $color-h4;
    font-size: 2.25rem;
    font-family: $font-sans;
    margin: 2.25rem;
}

a {
    color: $color-link;
    text-decoration: none;

    strong {
	color: $color-link;
    }
}

a:hover {
    text-decoration: underline;
}

// Org exports images in a <div class="figure"> element
.figure {
    display: block;
    text-align: center;
}

img {
    // Dynamically resize images
    max-width: 100%;
    height: auto;
    margin: 0.5rem;
}

code {
    color: $color-code;
    font-family: $font-mono;
}

details {
    margin: 2rem;
}

// Tables

table {
    border: 2px white solid;
    // text-align: center;
    margin: auto;

}

table th {
  font-size: 18px;
  font-weight: bold;
  background-color: $color-table-header;
  padding: 0.5em;
  text-align: left;
}

table td {
  font-size: 16px;
  padding: 0.3em 0.8em;
}

table tr {
    background-color: $color-table-even-rows;
}

table tr:nth-child(2n) {
    background-color: $color-table-odd-rows;
}

.clear {
    clear: both;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Found online (not sure if needed)
// *, *:before, *:after {
//   box-sizing: inherit;
// }
