@import "vars.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: solid 2px $color-navbar-border;
}

.navbar-home {
    a {
	font-family: $font-serif;
	font-size: 4.5rem;
	color: $color-navbar-links;
	margin-right: 75px;
	text-decoration: none;
    }
}

.navbar-links {
    a {
	font-family: $font-serif;
	font-size: 4rem;
	color: $color-navbar-links;
	margin-left: 5rem;
	text-decoration: none;
    }
    // a:hover {
    // 	text-decoration: underline $color-baby-blue 2px;
    // }
}


