.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px
}

.navbar-home a {
    font-family: "Crimson Text", "Cambria Math", "Oswald";
    font-size: 4.5rem;
    color: #b6bef5;
    margin-right: 75px;
}

.navbar-links a {
    font-family: "Crimson Text", "Cambria Math", "Oswald";
    font-size: 4rem;
    color: #4cf3ad;
    margin-left: 5rem;
}
