#post-metadata {
    font-family: $font-mono;
    h1 {
	margin-bottom: 1rem;
    }
    .edited-flag {
	color: $color-post-metadata-edited;
    }
    p {
	color: $color-post-metadata-p;
	margin-top: 1rem;
	line-height: 1.2;
	font-weight: 400;
    }
}
