@import "vars";

// Default body toc
#text-Table-of-Contents {
    a {
	color: $color-link;	
	text-decoration: none;


    }
    a:hover {
	text-decoration: underline $color-link;
    }
}

#toc-btn {
    position: fixed;
    top: 3rem;
    left: 1rem;
    background-color: transparent;
    border: none;
    color: $color-toc-btn;
    font-size: 2em;
    box-shadow: none;
}

#toc-btn:active,
#toc-btn:focus,
#toc-btn:focus:active {
    outline: 0;
    box-shadow: none;
}

#floating-toc {
    opacity: 0.9;
    display: none;
    position: fixed;
    font-size: .85em;
    top: 4em;
    left: 1px;
    bottom: 1px;
    background-color: $color-bg;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 60%;
    font-weight: normal;

    a {
	font-size: 1.8rem;
	color: $color-link;
	text-decoration: none;
    }
    a:hover {
	text-decoration: underline $color-link;
    }
}

#floating-toc  > ul {
    border: 3px $color-floating-toc-ul-border solid;
    padding-right: 1rem;
}

@media only screen and (max-width: 900px) {
    #toc-btn {
        display: none;
    }
    #floating-toc {
	display: none;
    }
}
