// // Colors
$color-white: #ffffff;
$color-soft-white: #e4e9ee;
$color-creamy-white: #f7f7f7;
$color-grey: #a9a9a9;
$color-silver: #c0c0c0;
$color-light-grey: #d3d3d3;
$color-dark-grey: #555555;
$color-purple: #b6b3f5;
$color-purple2: #a9a3ff;
$color-pink: #ffbbe8;
$color-soft-pink: #ffdbeb;
$color-plum1: #eeaeee;  // Emacs color
$color-light-baby-blue: #b1e3fa;
$color-baby-blue: #acdbff;
$color-navy: #101357;
$color-light-orange: #ffeab4;
$color-light-green: #85eeac;
$color-green: #73d8b2;
$color-loud-green: #16ffbd;
$color-mint: #83F3E6;
$color-mint2: #acffed;
//$color-light-orange: $color-mint;
// $color-bg: $color-creamy-white;
// $color-bg: #121212;
$color-bg: #292a44;  // Emacs Rebecca theme bg

$color-body: $color-soft-white;

// Headers
$color-h1: $color-body;
$color-h2: $color-baby-blue;
$color-h3: $color-body;
$color-h4: $color-body;
$color-h5: $color-body;
$color-h6: $color-body;


// Elements
$color-link: #8dc2ee;
$color-code: $color-light-orange;
$color-post-metadata: $color-light-grey;
$color-src-bg: $color-bg;
// Tables
$color-table-header: #30528d;
$color-table-even-rows: #3c434e;
$color-table-odd-rows: #2e343d;

// // Fonts
$font-sans: "Ubuntu", "sans-serif";
$font-serif: "Crimson Text", "Cambria Math", "Oswald";
// $font-mono: "DejaVu Sans Mono"
$font-mono: "Source Code Pro", monospace;
