/* Modus Vivendi htmlize output */
body {
  color: #ffffff;
  background-color: #000000;
}
.org-beacon-fallback-background {
  background-color: #ffffff;
}
.org-bold {
  font-weight: bold;
}
.org-border {
}
.org-browse-url-button {
  color: #00bcff;
  text-decoration: underline;
}
.org-buffer-menu-buffer {
  font-weight: bold;
}
.org-builtin {
  color: #f78fe7;
}
.org-button {
  color: #00bcff;
  text-decoration: underline;
}
.org-calendar-month-header {
  color: #ffffff;
  font-weight: bold;
}
.org-calendar-today {
  font-weight: bold;
  text-decoration: underline;
}
.org-calendar-weekday-header {
  color: #a8a8a8;
}
.org-calendar-weekend-header {
  color: #a8a8a8;
}
.org-comint-highlight-input {
  font-weight: bold;
}
.org-comint-highlight-prompt {
  color: #00d3d0;
}
.org-comment {
  color: #a8a8a8;
  font-style: italic;
}
.org-comment-delimiter {
  color: #a8a8a8;
  font-style: italic;
}
.org-company-echo {
}
.org-company-echo-common {
  color: #b6a0ff;
}
.org-company-preview {
  color: #e0e6f0;
  background-color: #110b11;
}
.org-company-preview-common {
  color: #79a8ff;
}
.org-company-preview-search {
  color: #fbd6f4;
  background-color: #392a48;
}
.org-company-scrollbar-bg {
  background-color: #323232;
}
.org-company-scrollbar-fg {
  background-color: #f4f4f4;
}
.org-company-template-field {
  color: #ffffff;
  background-color: #7042a2;
}
.org-company-tooltip {
  color: #a8a8a8;
  background-color: #181a20;
}
.org-company-tooltip-annotation {
  color: #c6eaff;
  font-style: italic;
}
.org-company-tooltip-annotation-selection {
  color: #ffffff;
  font-weight: bold;
}
.org-company-tooltip-common {
  color: #79a8ff;
  font-weight: bold;
}
.org-company-tooltip-common-selection {
  color: #ffffff;
}
.org-company-tooltip-mouse {
  color: #ffffff;
  background-color: #2a40b8;
}
.org-compilation-column-number {
  color: #b6a0ff;
}
.org-compilation-error {
  color: #ff8059;
}
.org-compilation-info {
  color: #c6eaff;
}
.org-compilation-line-number {
  color: #f8dec0;
}
.org-compilation-mode-line-exit {
  color: #34cfff;
}
.org-compilation-mode-line-fail {
  color: #ffa7ba;
}
.org-compilation-mode-line-run {
  color: #d5b1ff;
}
.org-compilation-warning {
  color: #eecc00;
}
.org-completions-annotations {
  color: #90c4ed;
  font-style: italic;
}
.org-completions-common-part {
  color: #79a8ff;
}
.org-completions-first-difference {
  color: #f78fe7;
  font-weight: bold;
}
.org-constant {
  color: #00bcff;
}
.org-counsel--mark-ring-highlight {
  color: #e0e6f0;
  background-color: #10387c;
}
.org-counsel-active-mode {
  color: #b6a0ff;
}
.org-counsel-application-name {
  color: #ff9977;
}
.org-counsel-evil-register {
  color: #ffffff;
  font-weight: bold;
}
.org-counsel-key-binding {
  color: #00bcff;
  font-weight: bold;
}
.org-counsel-outline-1 {
  color: #ffffff;
  font-weight: bold;
}
.org-counsel-outline-2 {
  color: #f8dec0;
  font-weight: bold;
}
.org-counsel-outline-3 {
  color: #c6eaff;
  font-weight: bold;
}
.org-counsel-outline-4 {
  color: #bfebe0;
  font-weight: bold;
}
.org-counsel-outline-5 {
  color: #fbd6f4;
  font-weight: bold;
}
.org-counsel-outline-6 {
  color: #dfdfb0;
  font-weight: bold;
}
.org-counsel-outline-7 {
  color: #ffcccc;
  font-weight: bold;
}
.org-counsel-outline-8 {
  color: #e0e6f0;
  font-weight: bold;
}
.org-counsel-outline-default {
  color: #ffffff;
}
.org-counsel-variable-documentation {
  color: #f0ce43;
  font-style: italic;
}
.org-cursor {
  background-color: #ffffff;
}
.org-diary {
  color: #00cd68;
  background-color: #001904;
}
.org-dired-directory {
  color: #2fafff;
}
.org-dired-flagged {
  color: #ff99aa;
  background-color: #5a0000;
  font-weight: bold;
}
.org-dired-header {
  color: #ffffff;
  font-weight: bold;
}
.org-dired-ignored {
  color: #a8a8a8;
}
.org-dired-mark {
  color: #79a8ff;
  font-weight: bold;
}
.org-dired-marked {
  color: #60cfa2;
  background-color: #002f2f;
  font-weight: bold;
}
.org-dired-perm-write {
  color: #f8dec0;
}
.org-dired-set-id {
  color: #dbbe5f;
}
.org-dired-special {
  color: #00d3d0;
}
.org-dired-symlink {
  color: #4ae8fc;
  text-decoration: underline;
}
.org-dired-warning {
  color: #eecc00;
  font-weight: bold;
}
.org-doc {
  color: #b0d6f5;
  font-style: italic;
}
.org-eldoc-highlight-function-argument {
  color: #00bcff;
  font-weight: bold;
}
.org-error {
  color: #ff8059;
  font-weight: bold;
}
.org-escape-glyph {
  color: #e7a59a;
}
.org-file-name-shadow {
  color: #93959b;
}
.org-fill-column-indicator {
  color: #323232;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-fringe {
  color: #ffffff;
  background-color: #000000;
}
.org-function-name {
  color: #feacd0;
}
.org-geiser-font-lock-autodoc-current-arg {
  color: #feacd0;
}
.org-geiser-font-lock-autodoc-identifier {
  color: #00bcff;
}
.org-geiser-font-lock-doc-button {
  color: #b0d6f5;
  text-decoration: underline;
}
.org-geiser-font-lock-doc-link {
  color: #00bcff;
  text-decoration: underline;
}
.org-geiser-font-lock-doc-title {
  font-weight: bold;
}
.org-geiser-font-lock-error-link {
  color: #ff8059;
  text-decoration: underline;
}
.org-geiser-font-lock-image-button {
  color: #70c900;
  text-decoration: underline;
}
.org-geiser-font-lock-repl-input {
  font-weight: bold;
}
.org-geiser-font-lock-repl-output {
  color: #b6a0ff;
}
.org-geiser-font-lock-repl-prompt {
  color: #6ae4b9;
}
.org-glyphless-char {
  font-size: 60%;
}
.org-header-line {
  color: #dddddd;
  background-color: #212121;
}
.org-header-line-highlight {
  color: #323232;
  background-color: #34cfff;
}
.org-help-argument-name {
  color: #00d3d0;
  font-style: italic;
}
.org-highlight {
  color: #e0e6f0;
  background-color: #10387c;
}
.org-hl-line {
  background-color: #151823;
}
.org-holiday {
  color: #f78fe7;
  background-color: #230631;
}
.org-homoglyph {
  color: #f5aa80;
}
.org-info-header-node {
  color: #a8a8a8;
  font-weight: bold;
}
.org-info-header-xref {
  color: #34cfff;
}
.org-info-index-match {
  color: #fbd6f4;
  background-color: #392a48;
}
.org-info-menu-header {
  color: #c6eaff;
  font-weight: bold;
}
.org-info-menu-star {
  color: #ff8059;
}
.org-info-node {
  font-weight: bold;
}
.org-info-quoted {
  color: #fbd6f4;
  background-color: #181a20;
}
.org-info-title-1 {
  color: #ffffff;
  font-weight: bold;
}
.org-info-title-2 {
  color: #f8dec0;
  font-weight: bold;
}
.org-info-title-3 {
  color: #c6eaff;
  font-weight: bold;
}
.org-info-title-4 {
  color: #bfebe0;
  font-weight: bold;
}
.org-info-xref {
  color: #00bcff;
  text-decoration: underline;
}
.org-internal-border {
}
.org-isearch-fail {
  color: #ffb9ab;
  background-color: #77002a;
}
.org-italic {
  font-style: italic;
}
.org-ivy-action {
  color: #f4923b;
  font-weight: bold;
}
.org-ivy-completions-annotations {
  color: #90c4ed;
  font-style: italic;
}
.org-ivy-confirm {
  color: #00d3d0;
}
.org-ivy-cursor {
  color: #000000;
  background-color: #ffffff;
}
.org-ivy-grep-info {
  color: #4ae8fc;
}
.org-ivy-grep-line-number {
  color: #f8dec0;
}
.org-ivy-highlight {
  color: #feacd0;
}
.org-ivy-match-required {
  color: #ff8059;
  font-weight: bold;
}
.org-ivy-modified-buffer {
  color: #eecc00;
  font-style: italic;
}
.org-ivy-modified-outside-buffer {
  color: #cfdf30;
  font-style: italic;
}
.org-ivy-org {
  color: #6ae4b9;
}
.org-ivy-prompt-match {
  color: #ffffff;
  background-color: #005f88;
  font-weight: bold;
}
.org-ivy-remote {
  color: #feacd0;
}
.org-ivy-separator {
  color: #a8a8a8;
}
.org-ivy-subdir {
  color: #00bcff;
}
.org-ivy-virtual {
  color: #b6a0ff;
}
.org-keyword {
  color: #b6a0ff;
}
.org-lazy-highlight {
  color: #8ae4f2;
  background-color: #004065;
}
.org-line-number {
  color: #a8a8a8;
  background-color: #110b11;
}
.org-link {
  color: #00bcff;
  text-decoration: underline;
}
.org-link-visited {
  color: #b6a0ff;
  text-decoration: underline;
}
.org-match {
  color: #fbd6f4;
  background-color: #392a48;
}
.org-mcXcursor {
}
.org-mcXcursor-bar {
  background-color: #ffffff;
}
.org-mcXregion {
  color: #ffffff;
  background-color: #3c3c3c;
}
.org-menu {
}
.org-minibuffer-prompt {
  color: #6ae4b9;
}
.org-mode-line {
  color: #f4f4f4;
  background-color: #323232;
}
.org-mode-line-buffer-id {
  font-weight: bold;
}
.org-mode-line-emphasis {
  color: #34cfff;
  font-weight: bold;
}
.org-mode-line-highlight {
  color: #323232;
  background-color: #34cfff;
}
.org-mode-line-inactive {
  color: #bfc0c4;
  background-color: #1e1e1e;
}
.org-modus-theme-active-blue {
  color: #323232;
  background-color: #34cfff;
}
.org-modus-theme-active-cyan {
  color: #323232;
  background-color: #00d8b4;
}
.org-modus-theme-active-green {
  color: #323232;
  background-color: #70d73f;
}
.org-modus-theme-active-magenta {
  color: #323232;
  background-color: #d5b1ff;
}
.org-modus-theme-active-red {
  color: #323232;
  background-color: #ffa7ba;
}
.org-modus-theme-active-yellow {
  color: #323232;
  background-color: #dbbe5f;
}
.org-modus-theme-bold {
}
.org-modus-theme-diff-added {
  color: #b4ddb4;
  background-color: #203d20;
}
.org-modus-theme-diff-changed {
  color: #d0daaf;
  background-color: #4a3a10;
}
.org-modus-theme-diff-focus-added {
  color: #b4ddb4;
  background-color: #203d20;
}
.org-modus-theme-diff-focus-changed {
  color: #d0daaf;
  background-color: #4a3a10;
}
.org-modus-theme-diff-focus-removed {
  color: #eebdba;
  background-color: #5e2526;
}
.org-modus-theme-diff-heading {
  color: #dae7ff;
  background-color: #304466;
}
.org-modus-theme-diff-refine-added {
  color: #e0f6e0;
  background-color: #005a36;
}
.org-modus-theme-diff-refine-changed {
  color: #ffffcc;
  background-color: #585800;
}
.org-modus-theme-diff-refine-removed {
  color: #ffd9eb;
  background-color: #852828;
}
.org-modus-theme-diff-removed {
  color: #eebdba;
  background-color: #5e2526;
}
.org-modus-theme-fringe-blue {
  color: #ffffff;
  background-color: #3f33af;
}
.org-modus-theme-fringe-cyan {
  color: #ffffff;
  background-color: #004f8f;
}
.org-modus-theme-fringe-green {
  color: #ffffff;
  background-color: #006700;
}
.org-modus-theme-fringe-magenta {
  color: #ffffff;
  background-color: #6f2f89;
}
.org-modus-theme-fringe-red {
  color: #ffffff;
  background-color: #8f1f4b;
}
.org-modus-theme-fringe-yellow {
  color: #ffffff;
  background-color: #6f4f00;
}
.org-modus-theme-graph-blue-0 {
  background-color: #406fff;
}
.org-modus-theme-graph-blue-1 {
  background-color: #2f50c8;
}
.org-modus-theme-graph-cyan-0 {
  background-color: #47dcfa;
}
.org-modus-theme-graph-cyan-1 {
  background-color: #0bc0df;
}
.org-modus-theme-graph-green-0 {
  background-color: #24ba2f;
}
.org-modus-theme-graph-green-1 {
  background-color: #0f8f07;
}
.org-modus-theme-graph-magenta-0 {
  background-color: #af7bee;
}
.org-modus-theme-graph-magenta-1 {
  background-color: #7f59cf;
}
.org-modus-theme-graph-red-0 {
  background-color: #af0404;
}
.org-modus-theme-graph-red-1 {
  background-color: #801f2f;
}
.org-modus-theme-graph-yellow-0 {
  background-color: #ffd03e;
}
.org-modus-theme-graph-yellow-1 {
  background-color: #d7d800;
}
.org-modus-theme-heading-1 {
  color: #ffffff;
  font-weight: bold;
}
.org-modus-theme-heading-2 {
  color: #f8dec0;
  font-weight: bold;
}
.org-modus-theme-heading-3 {
  color: #c6eaff;
  font-weight: bold;
}
.org-modus-theme-heading-4 {
  color: #bfebe0;
  font-weight: bold;
}
.org-modus-theme-heading-5 {
  color: #fbd6f4;
  font-weight: bold;
}
.org-modus-theme-heading-6 {
  color: #dfdfb0;
  font-weight: bold;
}
.org-modus-theme-heading-7 {
  color: #ffcccc;
  font-weight: bold;
}
.org-modus-theme-heading-8 {
  color: #e0e6f0;
  font-weight: bold;
}
.org-modus-theme-hl-line {
  background-color: #151823;
}
.org-modus-theme-intense-blue {
  color: #ffffff;
  background-color: #2a40b8;
}
.org-modus-theme-intense-cyan {
  color: #ffffff;
  background-color: #005f88;
}
.org-modus-theme-intense-green {
  color: #ffffff;
  background-color: #006800;
}
.org-modus-theme-intense-magenta {
  color: #ffffff;
  background-color: #7042a2;
}
.org-modus-theme-intense-neutral {
  color: #ffffff;
  background-color: #323232;
}
.org-modus-theme-intense-red {
  color: #ffffff;
  background-color: #a4202a;
}
.org-modus-theme-intense-yellow {
  color: #ffffff;
  background-color: #874900;
}
.org-modus-theme-lang-error {
  text-decoration: underline;
}
.org-modus-theme-lang-note {
  text-decoration: underline;
}
.org-modus-theme-lang-warning {
  text-decoration: underline;
}
.org-modus-theme-mark-alt {
  color: #f0aa20;
  background-color: #3f2210;
  font-weight: bold;
}
.org-modus-theme-mark-del {
  color: #ff99aa;
  background-color: #5a0000;
  font-weight: bold;
}
.org-modus-theme-mark-sel {
  color: #60cfa2;
  background-color: #002f2f;
  font-weight: bold;
}
.org-modus-theme-mark-symbol {
  color: #79a8ff;
  font-weight: bold;
}
.org-modus-theme-nuanced-blue {
  background-color: #0f0e39;
}
.org-modus-theme-nuanced-cyan {
  background-color: #041529;
}
.org-modus-theme-nuanced-green {
  background-color: #001904;
}
.org-modus-theme-nuanced-magenta {
  background-color: #230631;
}
.org-modus-theme-nuanced-red {
  background-color: #2c0614;
}
.org-modus-theme-nuanced-yellow {
  background-color: #221000;
}
.org-modus-theme-pseudo-header {
  color: #ffffff;
  font-weight: bold;
}
.org-modus-theme-refine-blue {
  color: #8ec6ff;
  background-color: #242679;
}
.org-modus-theme-refine-cyan {
  color: #8ae4f2;
  background-color: #004065;
}
.org-modus-theme-refine-green {
  color: #9ff0cf;
  background-color: #00422a;
}
.org-modus-theme-refine-magenta {
  color: #ffcaf0;
  background-color: #71206a;
}
.org-modus-theme-refine-red {
  color: #ffb9ab;
  background-color: #77002a;
}
.org-modus-theme-refine-yellow {
  color: #e2d980;
  background-color: #693200;
}
.org-modus-theme-reset {
  color: #ffffff;
  background-color: #000000;
}
.org-modus-theme-slant {
  font-style: italic;
}
.org-modus-theme-special-calm {
  color: #fbd6f4;
  background-color: #392a48;
}
.org-modus-theme-special-cold {
  color: #c6eaff;
  background-color: #203448;
}
.org-modus-theme-special-mild {
  color: #bfebe0;
  background-color: #00322e;
}
.org-modus-theme-special-warm {
  color: #f8dec0;
  background-color: #382f27;
}
.org-modus-theme-subtle-blue {
  color: #e0e6f0;
  background-color: #10387c;
}
.org-modus-theme-subtle-cyan {
  color: #e0e6f0;
  background-color: #00415e;
}
.org-modus-theme-subtle-green {
  color: #e0e6f0;
  background-color: #2f4a00;
}
.org-modus-theme-subtle-magenta {
  color: #e0e6f0;
  background-color: #49366e;
}
.org-modus-theme-subtle-neutral {
  color: #bfc0c4;
  background-color: #1e1e1e;
}
.org-modus-theme-subtle-red {
  color: #e0e6f0;
  background-color: #762422;
}
.org-modus-theme-subtle-yellow {
  color: #e0e6f0;
  background-color: #604200;
}
.org-modus-theme-variable-pitch {
}
.org-mouse {
}
.org-mouse-drag-and-drop-region {
  color: #ffffff;
  background-color: #3c3c3c;
}
.org-negation-char {
  color: #eecc00;
}
.org-next-error {
  color: #e0e6f0;
  background-color: #762422;
}
.org-nobreak-hyphen {
  color: #e7a59a;
}
.org-nobreak-space {
  color: #e7a59a;
  text-decoration: underline;
}
.org-org-agenda-calendar-event {
  color: #ffffff;
}
.org-org-agenda-calendar-sexp {
  color: #4ae8fc;
}
.org-org-agenda-clocking {
  color: #c6eaff;
  background-color: #203448;
}
.org-org-agenda-column-dateline {
  background-color: #181a20;
}
.org-org-agenda-current-time {
  color: #00bcff;
  font-weight: bold;
}
.org-org-agenda-date {
  color: #00d3d0;
}
.org-org-agenda-date-today {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
.org-org-agenda-date-weekend {
  color: #6ae4b9;
}
.org-org-agenda-diary {
  color: #ffffff;
}
.org-org-agenda-dimmed-todo {
  color: #a8a8a8;
  font-weight: bold;
}
.org-org-agenda-done {
  color: #70c900;
}
.org-org-agenda-filter-category {
  color: #d5b1ff;
  font-weight: bold;
}
.org-org-agenda-filter-effort {
  color: #d5b1ff;
  font-weight: bold;
}
.org-org-agenda-filter-regexp {
  color: #d5b1ff;
  font-weight: bold;
}
.org-org-agenda-filter-tags {
  color: #d5b1ff;
  font-weight: bold;
}
.org-org-agenda-restriction-lock {
  color: #e0e6f0;
  background-color: #110b11;
}
.org-org-agenda-structure {
  color: #79a8ff;
}
.org-org-archived {
  color: #a8a8a8;
  background-color: #181a20;
}
.org-org-block {
  color: #ffffff;
}
.org-org-block-begin-line {
  color: #bfebe0;
  background-color: #181a20;
}
.org-org-block-end-line {
  color: #bfebe0;
  background-color: #181a20;
}
.org-org-checkbox {
  color: #f4f4f4;
  background-color: #1e1e1e;
}
.org-org-checkbox-statistics-done {
  color: #44bc44;
}
.org-org-checkbox-statistics-todo {
  color: #ff8059;
}
.org-org-clock-overlay {
  color: #c6eaff;
  background-color: #203448;
}
.org-org-code {
  color: #feacd0;
  background-color: #2c0614;
}
.org-org-column {
  background-color: #181a20;
}
.org-org-column-title {
  background-color: #181a20;
  font-weight: bold;
  text-decoration: underline;
}
.org-org-date-selected {
  color: #79a8ff;
  font-weight: bold;
}
.org-org-default {
  color: #ffffff;
  background-color: #000000;
}
.org-org-document-info {
  color: #c6eaff;
}
.org-org-document-info-keyword {
  color: #a8a8a8;
}
.org-org-done {
  color: #44bc44;
}
.org-org-drawer {
  color: #a8a8a8;
}
.org-org-ellipsis {
}
.org-org-footnote {
  color: #79a8ff;
  text-decoration: underline;
}
.org-org-formula {
  color: #f4923b;
}
.org-org-headline-done {
  color: #b8e2b8;
}
.org-org-headline-todo {
  color: #ffcccc;
}
.org-org-hide {
  color: #000000;
}
.org-org-latex-and-related {
  color: #ffcaf0;
}
.org-org-level-1 {
  color: #ffffff;
  font-weight: bold;
}
.org-org-level-2 {
  color: #f8dec0;
  font-weight: bold;
}
.org-org-level-3 {
  color: #c6eaff;
  font-weight: bold;
}
.org-org-level-4 {
  color: #bfebe0;
  font-weight: bold;
}
.org-org-level-5 {
  color: #fbd6f4;
  font-weight: bold;
}
.org-org-level-6 {
  color: #dfdfb0;
  font-weight: bold;
}
.org-org-level-7 {
  color: #ffcccc;
  font-weight: bold;
}
.org-org-level-8 {
  color: #e0e6f0;
  font-weight: bold;
}
.org-org-link {
  color: #00bcff;
  text-decoration: underline;
}
.org-org-list-dt {
  font-weight: bold;
}
.org-org-macro {
  color: #b6a0ff;
  background-color: #0f0e39;
}
.org-org-meta-line {
  color: #a8a8a8;
}
.org-org-mode-line-clock {
  color: #ffffff;
}
.org-org-mode-line-clock-overrun {
  color: #323232;
  background-color: #ffa7ba;
}
.org-org-priority {
  color: #feacd0;
}
.org-org-property-value {
  color: #c6eaff;
}
.org-org-quote {
  color: #c6eaff;
  font-style: italic;
}
.org-org-roam-link {
  color: #90ee90;
  font-weight: bold;
  text-decoration: underline;
}
.org-org-roam-link-current {
  color: #70c900;
  text-decoration: underline;
}
.org-org-roam-link-invalid {
  color: #ff8059;
  text-decoration: underline;
}
.org-org-roam-link-shielded {
  color: #eecc00;
  text-decoration: underline;
}
.org-org-roam-tag {
  color: #a8a8a8;
  font-style: italic;
}
.org-org-scheduled {
  color: #f78fe7;
}
.org-org-scheduled-previously {
  color: #f0ce43;
}
.org-org-scheduled-today {
  color: #b6a0ff;
}
.org-org-sexp-date {
  color: #00d3d0;
  text-decoration: underline;
}
.org-org-special-keyword {
  color: #a8a8a8;
}
.org-org-table {
  color: #c6eaff;
}
.org-org-tag {
  color: #e5cfef;
}
.org-org-tag-group {
  color: #a8e5e5;
  font-weight: bold;
}
.org-org-target {
  text-decoration: underline;
}
.org-org-time-grid {
  color: #93959b;
}
.org-org-todo {
  color: #ff8059;
}
.org-org-upcoming-deadline {
  color: #ff9977;
}
.org-org-upcoming-distant-deadline {
  color: #ffcccc;
}
.org-org-verbatim {
  color: #fbd6f4;
  background-color: #181a20;
}
.org-org-verse {
  color: #c6eaff;
  font-style: italic;
}
.org-org-warning {
  color: #ff9977;
  font-weight: bold;
}
.org-outline-1 {
  color: #ffffff;
  font-weight: bold;
}
.org-outline-2 {
  color: #f8dec0;
  font-weight: bold;
}
.org-outline-3 {
  color: #c6eaff;
  font-weight: bold;
}
.org-outline-4 {
  color: #bfebe0;
  font-weight: bold;
}
.org-outline-5 {
  color: #fbd6f4;
  font-weight: bold;
}
.org-outline-6 {
  color: #dfdfb0;
  font-weight: bold;
}
.org-outline-7 {
  color: #ffcccc;
  font-weight: bold;
}
.org-outline-8 {
  color: #e0e6f0;
  font-weight: bold;
}
.org-package-description {
  color: #c6eaff;
}
.org-package-help-section-name {
  color: #b6a0ff;
  font-weight: bold;
}
.org-package-name {
  color: #00bcff;
  text-decoration: underline;
}
.org-package-status-avail-obso {
  color: #ff8059;
  font-weight: bold;
}
.org-package-status-available {
  color: #bfebe0;
}
.org-package-status-built-in {
  color: #feacd0;
}
.org-package-status-dependency {
  color: #b6a0ff;
}
.org-package-status-disabled {
  color: #e0e6f0;
  background-color: #762422;
}
.org-package-status-external {
  color: #6ae4b9;
}
.org-package-status-held {
  color: #cfdf30;
}
.org-package-status-incompat {
  color: #eecc00;
  font-weight: bold;
}
.org-package-status-installed {
  color: #f8dec0;
}
.org-package-status-new {
  color: #44bc44;
  font-weight: bold;
}
.org-package-status-unsigned {
  color: #f4923b;
  font-weight: bold;
}
.org-preprocessor {
  color: #ff9977;
}
.org-read-multiple-choice {
  font-weight: bold;
  text-decoration: underline;
}
.org-rectangle-preview {
  color: #bfebe0;
  background-color: #00322e;
}
.org-regexp-grouping-backslash {
  color: #abab00;
  font-weight: bold;
}
.org-regexp-grouping-construct {
  color: #e7a59a;
  font-weight: bold;
}
.org-region {
  color: #ffffff;
  background-color: #3c3c3c;
}
.org-scroll-bar {
}
.org-secondary-selection {
  color: #c6eaff;
  background-color: #203448;
}
.org-shadow {
  color: #a8a8a8;
}
.org-show-paren-match {
  color: #ffffff;
  background-color: #5f362f;
}
.org-show-paren-match-expression {
  color: #fbd6f4;
  background-color: #392a48;
}
.org-show-paren-mismatch {
  color: #ffffff;
  background-color: #a4202a;
}
.org-sp-pair-overlay {
  color: #f8dec0;
  background-color: #382f27;
}
.org-sp-show-pair-enclosing {
  color: #bfebe0;
  background-color: #00322e;
}
.org-sp-show-pair-match {
  color: #ffffff;
  background-color: #5f362f;
}
.org-sp-show-pair-match-content {
}
.org-sp-show-pair-mismatch {
  color: #ffffff;
  background-color: #a4202a;
}
.org-sp-wrap-overlay {
  color: #f8dec0;
  background-color: #382f27;
}
.org-sp-wrap-overlay-closing-pair {
  color: #f8dec0;
  background-color: #382f27;
}
.org-sp-wrap-overlay-opening-pair {
  color: #f8dec0;
  background-color: #382f27;
}
.org-sp-wrap-tag-overlay {
  color: #f8dec0;
  background-color: #382f27;
}
.org-string {
  color: #79a8ff;
}
.org-success {
  color: #44bc44;
  font-weight: bold;
}
.org-swiper-background-match-face-1 {
  color: #bfc0c4;
  background-color: #1e1e1e;
}
.org-swiper-background-match-face-2 {
  color: #8ae4f2;
  background-color: #004065;
}
.org-swiper-background-match-face-3 {
  color: #ffcaf0;
  background-color: #71206a;
}
.org-swiper-background-match-face-4 {
  color: #e2d980;
  background-color: #693200;
}
.org-swiper-line {
  color: #c6eaff;
  background-color: #203448;
}
.org-tab-bar {
  color: #ffffff;
  background-color: #2c2c2c;
}
.org-tab-bar-tab {
  color: #ffffff;
  background-color: #0e0e0e;
  font-weight: bold;
}
.org-tab-bar-tab-inactive {
  color: #e0e6f0;
  background-color: #3d3d3d;
}
.org-tab-line {
  color: #ffffff;
  background-color: #2c2c2c;
  font-size: 95%;
}
.org-table-cell {
  background-color: #0f0e39;
}
.org-tabulated-list-fake-header {
  font-weight: bold;
  text-decoration: underline;
  text-decoration: overline;
}
.org-tool-bar {
  color: #000000;
  background-color: #bfbfbf;
}
.org-tooltip {
  color: #ffffff;
  background-color: #203448;
}
.org-trailing-whitespace {
  background-color: #a4202a;
}
.org-tty-menu-disabled {
  color: #a8a8a8;
  background-color: #181a20;
}
.org-tty-menu-enabled {
  color: #ffffff;
  background-color: #181a20;
  font-weight: bold;
}
.org-tty-menu-selected {
  color: #ffffff;
  background-color: #2a40b8;
}
.org-type {
  color: #6ae4b9;
}
.org-underline {
  text-decoration: underline;
}
.org-variable-name {
  color: #00d3d0;
}
.org-variable-pitch {
}
.org-vc-conflict-state {
  color: #ffa7ba;
  font-style: italic;
}
.org-vc-edited-state {
  color: #dbbe5f;
}
.org-vc-locally-added-state {
  color: #00d8b4;
}
.org-vc-locked-state {
  color: #34cfff;
}
.org-vc-missing-state {
  color: #d5b1ff;
  font-style: italic;
}
.org-vc-needs-update-state {
  color: #70d73f;
  font-style: italic;
}
.org-vc-removed-state {
  color: #ffa7ba;
}
.org-vc-state-base {
  color: #f4f4f4;
}
.org-vc-up-to-date-state {
  color: #c6eaff;
}
.org-vertical-border {
  color: #646464;
}
.org-warning {
  color: #eecc00;
  font-weight: bold;
}
.org-warning-1 {
  color: #dbbe5f;
}
.org-which-key-command-description {
  color: #ffffff;
}
.org-which-key-docstring {
  color: #f8dec0;
}
.org-which-key-group-description {
  color: #f78fe7;
}
.org-which-key-highlighted-command {
  color: #eecc00;
  text-decoration: underline;
}
.org-which-key-key {
  color: #4fafff;
  font-weight: bold;
}
.org-which-key-local-map-description {
  color: #ffffff;
}
.org-which-key-note {
  color: #f8dec0;
}
.org-which-key-separator {
  color: #a8a8a8;
}
.org-which-key-special-key {
  color: #fba849;
  font-weight: bold;
}
.org-window-divider {
  color: #646464;
}
.org-window-divider-first-pixel {
  color: #969696;
}
.org-window-divider-last-pixel {
  color: #969696;
}
.org-xref-file-header {
  color: #c6eaff;
  font-weight: bold;
}
.org-xref-line-number {
  color: #a8a8a8;
}
.org-xref-match {
  color: #fbd6f4;
  background-color: #392a48;
}

a {
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
