<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles-org-htmlize.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% if page.stylesheet %}
    <link rel="stylesheet" href={{ page.stylesheet }}>
    {% endif %}
    {% if page.math %}
    {% include mathjax-support.html %}
    {% endif %}
    <script async defer data-domain="ajpkim.com" src="https://plausible.io/js/plausible.js"></script>
    <title>{{page.title}}</title>
    
  </head>

  <body>
    <div id="container">
      {% include navbar.html %}
      {% if page.floating_toc %}
      <button id=toc-btn>+</button>
      {% endif %}
      <div id="content-container">
	{{ content }}
      </div>
    </div>
    {% if page.floating_toc %}
    <script src='{{ site.baseurl }}/assets/js/floating-toc.js'></script>
    {% endif %}
  </body>
  </html>
