@import "vars.scss";

:root {
    font-size: 62.5% // Set 1rem == 10px
}

body {
    font-family: $font-sans;
    color: $color-body;
    background-color: $color-bg-dark;
    font-size: 2.0rem;
}

p {
    font-weight: 500;
    line-height: 3rem;
}

strong {
    color: $color-strong;
}

h1 {
    color: $color-white;
    font-family: $font-serif;
    font-size: 4rem;
}

h2 {
    color: $color-green;
    font-family: $font-serif;
    font-size: 3.5rem;

  strong {
    font-weight: 610;  // standard is too strong.
  }
}

h3 {
    color: $color-purple;
    font-family: $font-sans;
    font-size: 2.5rem;
}

h4 {
    color: $color-purple;
    font-size: 2.25rem;
    font-family: $font-sans;
}

a {
    color: $color-link;
    text-decoration: none;

    strong {
	color: $color-link;
	// font-weight: normal;
    }
}

a:hover {
    text-decoration: underline;
}

// TODO
code {
    color: $color-code;
    font-family: $font-mono;
}

details {
    margin: 2rem;
}

// Tables
table th {
  font-size: 18px;
  font-weight: bold;
  background-color: $color-table-header;
  padding: 0.5em;
  text-align: left;
}

table td {
  font-size: 16px;
  padding: 0.3em 0.8em;
}

table tr {
    background-color: $color-table-even-rows;
}

table tr:nth-child(2n) {
    background-color: $color-table-odd-rows;
}



html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Found online (not sure if needed)
// *, *:before, *:after {
//   box-sizing: inherit;
// }
