.container {
    max-width: 900px;
    margin: 25px auto 0px auto;   // "0 auto" is same as 0 for top/bottom and auto for right/left
    // padding: 5px;
}

.content-container {
    padding: 4rem 2rem 2rem 2rem;
}
