@import "vars.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px
}

.navbar-home a {
    font-family: $font-serif;
    font-size: 4.5rem;
    color: $color-purple;
    margin-right: 75px;
}

.navbar-links a {
    font-family: $font-serif;
    font-size: 4rem;
    color: $color-green;
    margin-left: 5rem;
}
