
// // Colors
// I like this: https://www.color-hex.com/color-palette/105089
// Base
$color-bg-dark: #232933;
$color-body: #e4e9ee;
// Headers
$color-white: #ffffff;
$color-green: #4cf3ad;
$color-purple: #b6b3f5;
// Semantic
$color-strong: #ffbbe8;
$color-link: #8dc2ee;
$color-code: #bbd7ef;
// Tables
$color-table-header: #30528d;
$color-table-even-rows: #3c434e;
$color-table-odd-rows: #2e343d;

// // Fonts
$font-sans: "Open Sans", "Tahoma", "Verdana", "sans-serif";
$font-serif: "Crimson Text", "Cambria Math", "Oswald";
$font-mono: "DejaVu Sans Mono"
